{% extends 'base_without_header.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
    <style>

    </style>
    <body>
    <div class="row justify-content-center">

        <div class="col-xs-7 col-md-6">
            <center>
                <h4 class="mb-5">Создание воздушного судна</h4>
            </center>

            {{ form_start(form) }}

                <div class="col-12">

                    <div class="d-block mb-4" style="">

                        {{  form_label(form.add_type) }}
                        <button class="mb-2 pt-0 pb-0 btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            ?
                        </button>

                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/add_ac_type">Если нужного типа нет,
                                    то <b class="text-danger">создайте его</b></a></li>
                        </ul>

                        {{  form_widget(form.add_type) }}
                    </div>
                </div>
            <div class="form-group row mb-0 ">
                <div class="col">
                    {{ form_label(form.board_num) }}
                    <div class="text-danger mb-0">{{ form_errors(form.board_num) }}</div>
                    <div class="mt-0">{{ form_widget(form.board_num) }}</div>
                </div>
                <div class="col">
                    {{ form_label(form.construction_weight) }}
                    {{ form_widget(form.construction_weight) }}
                    <div class="text-secondary mb-0">{{ form_help(form.construction_weight) }}</div>
                </div>
            </div>

            <div class="form-group row mb-4 ">
                <div class="col">
                    {{ form_label(form.factory_num) }}
                    <div class="text-danger mb-0">{{ form_errors(form.factory_num) }}</div>
                    <div class="mt-0">{{ form_widget(form.factory_num) }}</div>
                </div>
                <div class="col">
                    {{ form_row(form.factory_made_by) }}
                </div>
            </div>


            <div class="form-group row mb-4 ">
                <div class="col form-control pt-4 me-3 border border-primary border-2">

                    {{ form_label(form.release_date) }}
                    {{ form_widget(form.release_date) }}
                    {{ form_label(form.last_repair_date) }}
                    {{ form_widget(form.last_repair_date) }}
                    {{ form_label(form.repairs_count) }}
                    {{ form_widget(form.repairs_count,{value:0}) }}
                </div>
                <div class="col form-control border border-primary border-2">
                    {{ form_label(form.assigned_res) }}
                    {{ form_widget(form.assigned_res) }}
                    <div class="text-secondary">{{ form_help(form.assigned_res) }}</div>
                    {{ form_label(form.assigned_exp_date) }}
                    {{ form_widget(form.assigned_exp_date) }}
                    <div class="text-secondary">{{ form_help(form.assigned_exp_date) }}</div>
                </div>
            </div>
            <div class="form-group row mb-4">
                <div class="col form-control me-3 border border-primary border-2">
                    {{ form_label(form.overhaul_res) }}
                    {{ form_widget(form.overhaul_res) }}
                    <div class="text-secondary">{{ form_help(form.overhaul_res) }}</div>
                    {{ form_label(form.overhaul_exp_date) }}
                    {{ form_widget(form.overhaul_exp_date) }}
                    <div class="text-secondary">{{ form_help(form.overhaul_exp_date) }}</div>
                </div>
                <div class="col form-control border border-primary border-2">

                    {{ form_label(form.max_takeoff_weight) }}
                    {{ form_widget(form.max_takeoff_weight) }}
                    <div class="text-secondary">{{ form_help(form.max_takeoff_weight) }}</div>

                    <div class="col-6">{{ form_label(form.centering) }}{{ form_widget(form.centering) }}
                        <div class="text-secondary">{{ form_help(form.centering) }}</div>
                    </div>

                </div>
            </div>
            <div class="form-group row mb-4 ">
                <div class="col form-control border border-primary border-2 me-3">
                    <div class="mb-2">{{ form_label(form.fin_periodic_mt) }}:</div>
                    {{ form_row(form.fin_form) }}
                    {{ form_row(form.fin_res) }}
                    {{ form_row(form.fin_term) }}
                    {{ form_row(form.mt_made_by) }}
                </div>
                <div class="col form-control border border-primary border-2">
                    <div class="mb-1">{{ form_row(form.lg_sert) }}</div>
                    <br>
                    {{ form_row(form.lg_date) }}
                    {{ form_row(form.lg_exp_date) }}
                    <br>
                    {{ form_row(form.lg_given) }}
                </div>
            </div>
            <div class="form-group row mb-4 ">
                <div class="col form-control me-3 border border-primary border-2">
                    {{ form_row(form.reg_sert) }}
                    <br>
                    {{ form_row(form.reg_sert_date) }}
                </div>

                    <div class="col form-control border border-primary border-2">
                        {{ form_row(form.operator) }}
                        <br>
                        {{ form_row(form.owner) }}
                    </div>
            </div>
            <div class="form-group row mb-4 ">
                <div class="col form-control border border-primary border-2">
                    {{ form_label(form.overhaul_res_overhaul) }}
                    {{ form_widget(form.overhaul_res_overhaul) }}
                    <div class="text-secondary">{{ form_help(form.overhaul_res_overhaul) }}</div>
                    <br>
                    {{ form_label(form.total_res_overhaul) }}
                    {{ form_widget(form.total_res_overhaul) }}
                    <div class="text-secondary">{{ form_help(form.total_res_overhaul) }}</div>
                </div>
            </div>


            {{ form_widget(form.save) }}
            <div style="display: none">
                {{ form_rest(form) }}
            </div>
            {{ form_errors(form) }}
            {{ form_end(form) }}

        </div>

    </div>
</div>
    <script type="text/javascript">
        $('.js-example-basic-single').select2({
            'theme': 'bootstrap-5',
            "language": {
                "noResults": function(){
                    return "Нет результатов";
                }
            }
        }).data('select2')
    </script>
    </body>
{% endblock %}


