{% extends 'base_without_header.html.twig' %}
{% block title %}Информация о {{ aircraft.getBoardNum }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <style>
        .qrcode{

        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <center>
            <h3>Информация о ВС</h3>
        </center>

        <button class="btn btn-primary mb-2" id="addResBtn" onclick="displaySpan()">Добавить наработку
        </button>
        <div id="form" style="display:none;">
            <span class=" overflow-auto col-12 mb-5" style="display: none; max-height: 200px" id='addRes'>
        <div class="col-12 ">

            <div class="col-6 ms-auto me-auto ">
                {{ form_start(addRes) }}
                {{ form_label(addRes.add) }}
                {{ form_widget(addRes.add) }}
                <div class="text-secondary">{{ form_help(addRes.add) }}</div>
                {{ form_end(addRes) }}
            </div>

        </div>

    </span>
        </div>

    </div>

    <div class="row">
        <button class="btn btn-primary mb-2" id="addRepBtn" onclick="displayRep()">Добавить ремонт
        </button>
        <div id="form1" style="display:none;">
            <span class=" overflow-auto col-12 mb-5" style="display: none; max-height: 350px" id='addRep'>
        <div class="col-12 ">

            <div class="col-6 ms-auto me-auto ">
                {{ form_start(addRep) }}
                {{ form_row(addRep.repair_date) }}
                {{ form_end(addRep) }}
            </div>

        </div>

    </span>
        </div>

    </div>
    <div class="row">
        <button class="btn btn-primary mb-2" id="addLgBtn" onclick="displayLg()">Изменить сертификат ЛГ
        </button>
        <div id="form2" style="display:none;">
            <span class=" overflow-auto col-12 mb-5" style="display: none; max-height: 400px" id='addLg'>
        <div class="col-12 ">

            <div class="col-6 ms-auto me-auto ">
                {{ form_start(addLg) }}
                {{ form_row(addLg.lg_sert) }}
                {{ form_label(addLg.lg_date) }}
                {{ form_widget(addLg.lg_date) }}<br>
                {{ form_label(addLg.lg_exp_date) }}
                {{ form_widget(addLg.lg_exp_date) }}
                {{ form_row(addLg.lg_given) }}
                {{ form_end(addLg) }}
            </div>

        </div>

    </span>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary mb-2" id="addMtBtn" onclick="displayMt()">Обновить периодическое ТО
        </button>
        <div id="form3" style="display:none;">
            <span class=" overflow-auto col-12 mb-5" style="display: none; max-height: 400px" id='addMt'>
        <div class="col-12 ">

            <div class="col-6 ms-auto me-auto ">
                {{ form_start(addMt) }}
                {{ form_row(addMt.mt_form) }}
                {{ form_label(addMt.mt_res) }}
                {{ form_widget(addMt.mt_res) }}
                <div class="text-secondary">{{ form_help(addMt.mt_res) }}</div>
                {{ form_label(addMt.mt_exp_date) }}
                {{ form_widget(addMt.mt_exp_date) }}<br>
                {{ form_row(addMt.mt_made_by) }}
                {{ form_end(addMt) }}
            </div>

        </div>

    </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <ul class="list-group col-12 fs-5 mb-2">
                <li class="list-group-item">
                    {% if role == 'admin' or role=='superadmin' %}
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#Modal" aria-label="Редактировать">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Редактирование {{ aircraft.getBoardNum }}
                                        <p class="fs-6 text-secondary mb-0">Данная функция доступна только администраторам, вводите данные внимательно</p></h5>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row justify-content-center">

                                        <div class="col-xs-12 col-md-10">


                                            {{ form_start(form) }}

                                            <div class="col-12">
                                            <div class="d-none">{{form_widget(form.ac_type) }}{{ form_widget(form.ac_category) }}{{ form_widget(form.add_type) }}
                                            {{ form_widget(form.assigned_exp_date, {value: aircraft.getAssignedTerm}) }}
                                                {{ form_widget(form.overhaul_exp_date, {value: aircraft.getOverhaulTerm}) }}</div>
                                            <div class="form-group row mb-0 ">
                                                <div class="col">
                                                    <div class="fs-6">{{ form_label(form.board_num) }}</div>
                                                    <div class="text-danger mb-0">{{ form_errors(form.board_num) }}</div>
                                                    <div class="mt-0">{{ form_widget(form.board_num) }}</div>
                                                </div>
                                                <div class="col">
                                                    <div class="fs-6">{{ form_label(form.construction_weight) }}</div>
                                                    {{ form_widget(form.construction_weight) }}
                                                    <div class="text-secondary fs-6 mb-0">{{ form_help(form.construction_weight) }}</div>
                                                </div>
                                            </div>

                                            <div class="form-group row mb-4 ">
                                                <div class="col">
                                                    <div class="fs-6">{{ form_label(form.factory_num) }}</div>
                                                    <div class="text-danger mb-0">{{ form_errors(form.factory_num) }}</div>
                                                    <div class="mt-0">{{ form_widget(form.factory_num) }}</div>
                                                </div>
                                                <div class="col">
                                                    <div class="fs-6">{{ form_row(form.factory_made_by) }}</div>
                                                </div>
                                            </div>


                                            <div class="form-group row mb-4 ">
                                                <div class="col form-control pt-4 me-3 border border-primary border-2">

                                                    {{ form_label(form.release_date) }}
                                                    {{ form_widget(form.release_date) }}
                                                    {{ form_label(form.last_repair_date) }}
                                                    {{ form_widget(form.last_repair_date) }}
                                                    {{ form_label(form.repairs_count) }}
                                                    {{ form_widget(form.repairs_count, {value: aircraft.getRepairsCount}) }}
                                                </div>
                                                <div class="col form-control border border-primary border-2">
                                                    {{ form_label(form.assigned_res) }}
                                                    {{ form_widget(form.assigned_res) }}
                                                    <div class="text-secondary">{{ form_help(form.assigned_res) }}</div>
                                                    {{ form_label(form.assigned_exp_date) }}
                                                    {{ form_widget(form.assigned_term) }}
                                                    <div class="text-secondary">{{ form_help(form.assigned_exp_date) }}</div>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <div class="col form-control me-3 border border-primary border-2">
                                                    {{ form_label(form.overhaul_res) }}
                                                    {{ form_widget(form.overhaul_res) }}
                                                    <div class="text-secondary">{{ form_help(form.overhaul_res) }}</div>
                                                    {{ form_label(form.overhaul_exp_date) }}
                                                    {{ form_widget(form.overhaul_term) }}

                                                    <div class="text-secondary">{{ form_help(form.overhaul_exp_date) }}</div>
                                                </div>
                                                <div class="col form-control border border-primary border-2">

                                                    {{ form_label(form.max_takeoff_weight) }}
                                                    {{ form_widget(form.max_takeoff_weight) }}
                                                    <div class="text-secondary">{{ form_help(form.max_takeoff_weight) }}</div>

                                                    <div class="col-6">{{ form_label(form.centering) }}{{ form_widget(form.centering) }}</div>
                                                    <div class="text-secondary">{{ form_help(form.centering) }}</div>

                                                </div>
                                            </div>
                                            <div class="form-group row mb-4 ">
                                                <div class="col form-control border border-primary border-2 me-3">
                                                    <div class="mb-2">{{ form_label(form.fin_periodic_mt) }}:</div>
                                                    {{ form_row(form.fin_form, {value: lastMaintance.MtForm,'attr':{'disabled':'disabled'}}) }}
                                                    {{ form_row(form.fin_res, {value: lastMaintance.MtRes,'attr':{'disabled':'disabled'}}) }}
                                                    {{ form_row(form.fin_term, {value: lastMaintance.MtExpDate|date('Y-m-d'),'attr':{'disabled':'disabled'}}) }}
                                                    {{ form_row(form.mt_made_by, { 'attr':{'disabled':'disabled'} }) }}
                                                </div>
                                                <div class="col form-control border border-primary border-2">
                                                    <div class="mb-1">{{ form_row(form.lg_sert) }}</div>
                                                    <br>
                                                    {{ form_row(form.lg_date) }}
                                                    {{ form_row(form.lg_exp_date) }}
                                                    <br>
                                                    {{ form_row(form.lg_given) }}
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4 ">
                                                <div class="col form-control me-3 border border-primary border-2">
                                                    {{ form_row(form.reg_sert) }}
                                                    <br>
                                                    {{ form_row(form.reg_sert_date) }}
                                                </div>

                                                <div class="col form-control border border-primary border-2">
                                                    {{ form_row(form.operator) }}
                                                    <br>
                                                    {{ form_row(form.owner) }}
                                                </div>


                                            </div>
                                                <div class="form-group row mb-4 ">
                                                    <div class="col form-control border border-primary border-2">
                                                        {{ form_label(form.overhaul_res_overhaul) }}
                                                        {{ form_widget(form.overhaul_res_overhaul, {value: lastOperating.overhaulRes}) }}
                                                        <div class="text-secondary">{{ form_help(form.overhaul_res_overhaul) }}</div>
                                                        <br>
                                                        {{ form_label(form.total_res_overhaul) }}
                                                        {{ form_widget(form.total_res_overhaul , {value: lastOperating.totalRes}) }}
                                                        <div class="text-secondary">{{ form_help(form.total_res_overhaul) }}</div>
                                                    </div>
                                                </div>





                                        </div>

                                    </div>
                                </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <div class="d-inline">{{ form_widget(form.save) }}</div>
                                    {{ form_row(form._token) }}
                                    <div class="d-none">{{ form_rest(form) }}</div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if added == 'added' %}
                    <a href="/remFav/{{ aircraft.getId }}" title="Убрать из избранного" class="float-end btn btn-warning align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star" viewBox="0 0 17 20">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    </a>
                    {% else %}
                    <a href="/addFav/{{ aircraft.getId }}" title="Добавить в избранное" class="float-end btn btn-outline-warning align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star" viewBox="0 0 17 20">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                    </a>
                    {% endif %}
                </li>
                <li class="list-group-item">Тип ВС: <b>{{ aircraft.getAcType }}</b></li>
                <li class="list-group-item">Бортовой номер: <b>{{ aircraft.getBoardNum }}</b></li>
                <li class="list-group-item">Заводской номер: <b>{{ aircraft.getFactoryNum() }}</b></li>

                {% if aircraft.getReleaseDate != null %}
                    <li class="list-group-item">Дата выпуска: <b>{{ aircraft.getReleaseDate()|date('d.m.Y') }}</b></li>
                {% endif %}
                {% if aircraft.getLastRepairDate != null %}
                    <li class="list-group-item">Дата последнего
                        ремонта: <b>{{ aircraft.getLastRepairDate()|date('d.m.Y') }}</b></li>
                {% endif %}
                <li class="list-group-item"> Количество ремонтов: <b>{{ aircraft.getRepairsCount() }}</b></li>
                {% if lastOperating.totalRes >= aircraft.getAssignedRes() %}
                    <li class="list-group-item list-group-item-danger">
                        Назначенный ресурс: <b>{{ aircraft.getAssignedRes() }} ч.</b> |
                        ТРЕБУЕТСЯ ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ | СНЭ: <b>{{ lastOperating.totalRes }} ч.</b>
                    </li>
                {% endif %}
                {% if lastOperating.totalRes/aircraft.getAssignedRes()*100>=80.0 and lastOperating.totalRes/aircraft.getAssignedRes()*100<100.0 %}
                    <li class="list-group-item list-group-item-warning">
                        Назначенный ресурс: <b>{{ aircraft.getAssignedRes() }} ч.</b> |
                        Остаточный
                        ресурс: <b>{{ aircraft.getAssignedRes()-lastOperating.totalRes }} ч.
                            ({{ '%0.1f'| format(100 - lastOperating.totalRes/aircraft.getAssignedRes()*100) }}
                            %)</b> |
                        СНЭ: <b>{{ lastOperating.totalRes }} ч.</b>
                    </li>
                {% endif %}
                {% if lastOperating.totalRes/aircraft.getAssignedRes()*100<80.0 %}
                    <li class="list-group-item list-group-item-success">
                        Назначенный ресурс: <b>{{ aircraft.getAssignedRes() }} ч.</b> |
                        Остаточный
                        ресурс: <b>{{ aircraft.getAssignedRes()-lastOperating.totalRes }} ч.
                            ({{ '%0.1f'| format(100 - lastOperating.totalRes/aircraft.getAssignedRes()*100) }}
                            %)</b> |
                        СНЭ: <b>{{ lastOperating.totalRes }} ч.</b>
                    </li>
                {% endif %}
                {% if aircraft.getAssignedExpDate != null %}
                    {% if aircraft.getAssignedExpDate <= date() %}
                        <li class="list-group-item list-group-item-danger"> Назначенный срок службы
                            до: <b>{{ aircraft.getAssignedExpDate|date('d.m.Y') }}</b> | <b>Истек</b>
                        </li>
                    {% endif %}
                    {% if aircraft.getAssignedExpDate >= date('-30days') and aircraft.getAssignedExpDate <= date('+30days') %}
                        <li class="list-group-item list-group-item-warning"> Назначенный срок службы
                            до: <b>{{ aircraft.getAssignedExpDate|date('d.m.Y') }}</b> | <b>Осталось меньше 30 дней</b>
                        </li>
                    {% endif %}
                    {% if aircraft.getAssignedExpDate > date('+30days') %}
                        <li class="list-group-item list-group-item-success"> Назначенный срок службы
                            до: <b>{{ aircraft.getAssignedExpDate|date('d.m.Y') }}</b></li>
                    {% endif %}
                {% endif %}
                    {% if lastOperating.overhaulRes >= aircraft.getOverhaulRes() %}
                        <li class="list-group-item list-group-item-danger">
                            Межремонтый ресурс: <b>{{ aircraft.getOverhaulRes() }} ч.</b> |
                            ТРЕБУЕТСЯ ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ | ППР: <b>{{ lastOperating.getOverhaulRes }}
                                ч.</b>
                        </li>
                    {% endif %}
                    {% if lastOperating.overhaulRes/aircraft.getOverhaulRes()*100>=80.0 and lastOperating.getOverhaulRes/aircraft.getOverhaulRes()*100<100.0 %}
                        <li class="list-group-item list-group-item-warning">
                            Межремонтый ресурс: <b>{{ aircraft.getOverhaulRes() }} ч.</b> |
                            Остаточный
                            ресурс: <b>{{ aircraft.getOverhaulRes()-lastOperating.overhaulRes }} ч.
                                ({{ '%0.1f'| format(100 - lastOperating.overhaulRes/aircraft.getOverhaulRes()*100) }}
                                %)</b> |
                            ППР: <b>{{ lastOperating.overhaulRes }} ч.</b>
                        </li>
                    {% endif %}
                    {% if lastOperating.overhaulRes/aircraft.getOverhaulRes()*100<80.0 %}
                        <li class="list-group-item list-group-item-success">
                            Межремонтый ресурс: <b>{{ aircraft.getOverhaulRes() }} ч.</b> |
                            Остаточный
                            ресурс: <b>{{ aircraft.getOverhaulRes()-lastOperating.overhaulRes }} ч.
                                ({{ '%0.1f'| format(100 - lastOperating.overhaulRes/aircraft.getOverhaulRes()*100) }}
                                %)</b> |
                            ППР: <b>{{ lastOperating.overhaulRes }} ч.</b>
                        </li>
                    {% endif %}
                {% if aircraft.getOverhaulExpDate != null %}
                    {% if aircraft.getOverhaulExpDate <= date() %}
                        <li class="list-group-item list-group-item-danger"> Межремонтный срок службы
                            до: <b>{{ aircraft.getOverhaulExpDate|date('d.m.Y') }}</b> | <b>Истек</b>
                        </li>
                    {% endif %}
                    {% if aircraft.getOverhaulExpDate >= date('-30days') and aircraft.getOverhaulExpDate <= date('+30days') %}
                        <li class="list-group-item list-group-item-warning"> Межремонтный срок службы
                            до: <b>{{ aircraft.getOverhaulExpDate|date('d.m.Y') }}</b> | <b>Осталось меньше 30 дней</b>
                        </li>
                    {% endif %}
                    {% if aircraft.getOverhaulExpDate > date('+30days') %}
                        <li class="list-group-item list-group-item-success"> Межремонтный срок службы
                            до: <b>{{ aircraft.getOverhaulExpDate|date('d.m.Y') }}</b></li>
                    {% endif %}
                {% endif %}
                <!--<h3>{{ aircraft.getResRenewNum }}</h3>
                <h3>{{ aircraft.getOperator }}</h3>
                <h3>{{ aircraft.getOwner }}</h3>
                <h3>{{ aircraft.getRentDocNum }}</h3>
                {% if aircraft.getRentDocDate != null %}
                    <h3>{{ aircraft.getRentDocDate|date('d.m.Y') }}</h3>
                {% endif %}
                {% if aircraft.getRentExpDate != null %}}
                    <h3>{{ aircraft.getRentExpDate|date('d.m.Y') }}</h3>
                {% endif %}
                <h3>{{ aircraft.getVsuNum }}</h3> -->
                <li class="list-group-item">Вес конструкции: <b>{{ aircraft.getConstructionWeight }} кг</b></li>
                <li class="list-group-item">Центровка: <b>{{ aircraft.getCentering }} м</b></li>
                <li class="list-group-item">Максимальный взлетный вес: <b>{{ aircraft.getMaxTakeoffWeight }} кг</b></li>
                <li class="list-group-item">Периодическое ТО: <b>{{ lastMaintance.MtForm }} | {{ lastMaintance.MtRes }} |
                         {{ lastMaintance.MtExpDate|date('d.m.Y') }}</b><br>
                    <hr class="mt-1 mb-1">
                        <em>
                    Дейтсвует до: <b>
                        {{ lastMaintance.MtExpDate|date_modify("+"~ type.getMrMonth ~" month")|date('d.m.Y')  }}
                    </b><br>
                    Осталось до следующего ТО:
                                {% if lastMaintance.MtRes+lastMaintance.MtRes-lastOperating.OverhaulRes-(lastMaintance.MtRes-type.MrRes) > type.MrRes
                                or lastMaintance.MtRes+lastMaintance.MtRes-lastOperating.OverhaulRes-(lastMaintance.MtRes-type.MrRes) < 0
                                %}
                    <div class="d-inline mb-0 text-danger">Проблема:
                                {{ lastMaintance.MtRes+lastMaintance.MtRes-lastOperating.OverhaulRes-(lastMaintance.MtRes-type.MrRes) }} ч. <br>
                        {% if lastMaintance.MtRes+lastMaintance.MtRes-lastOperating.OverhaulRes-(lastMaintance.MtRes-type.MrRes) > type.MrRes %}
                            Данные о периодическом ТО введены неверно: Актуальный ППР меньше наработки формы (Макс. {{ type.MrRes }} ч.Ful)
                        {% endif %}
                        {% if lastMaintance.MtRes+lastMaintance.MtRes-lastOperating.OverhaulRes-(lastMaintance.MtRes-type.MrRes) < 0 %}
                            Требуется ТО (Мин. 0 ч.)
                        {% endif %}
                    </div>
                                {% else %}
                                {{ lastMaintance.MtRes+lastMaintance.MtRes-lastOperating.OverhaulRes-(lastMaintance.MtRes-type.MrRes) }} ч.
                                {% endif %}

                        </em>
                </li>
                <li class="list-group-item">ТО выполнено: <b>{{ aircraft.getMtMadeBy }}</b></li>
                <li class="list-group-item">Сертификат Летной годности (ЛГ): <b>{{ aircraft.getLgSert }}</b></li>
                {% if aircraft.getLgDate != null %}
                    <li class="list-group-item">Дата выдачи сертификата Летной
                        годности (ЛГ): <b>{{ aircraft.getLgDate|date('d.m.Y') }}</b></li>
                {% endif %}
                {% if aircraft.getLgExpDate != null %}
                    {% if aircraft.getLgExpDate <= date() %}
                        <li class="list-group-item list-group-item-danger"> Срок службы сертификата Летной годности (ЛГ)
                            до: <b>{{ aircraft.getLgExpDate|date('d.m.Y') }}</b> | <b>Истек</b>
                        </li>
                    {% endif %}
                    {% if aircraft.getLgExpDate >= date('-30days') and aircraft.getLgExpDate <= date('+30days') and aircraft.getLgExpDate > date() %}
                        <li class="list-group-item list-group-item-warning"> Срок службы сертификата Летной годности (ЛГ)
                            до: <b>{{ aircraft.getLgExpDate|date('d.m.Y') }}</b> | <b>Осталось меньше 30 дней</b>
                        </li>
                    {% endif %}
                    {% if aircraft.getLgExpDate > date('+30days') %}
                        <li class="list-group-item list-group-item-success"> Срок службы сертификата Летной годности (ЛГ)
                            до: <b>{{ aircraft.getLgExpDate|date('d.m.Y') }}</b></li>
                    {% endif %}
                {% endif %}
                <li class="list-group-item"> Серитификат ЛГ выдан:
                    <b>{{ aircraft.getLgGiven }}</b></li>
                <li class="list-group-item">Сертификат о регистрации: <b>{{ aircraft.getRegSert }}</b></li>
                {% if aircraft.getRegSertDate != null %}
                    <li class="list-group-item">Дата регистрации: <b>{{ aircraft.getRegSertDate|date('d.m.Y') }}</b>
                    </li>
                {% endif %}
                <li class="list-group-item">Категория ВС: <b>{{ aircraft.getAcCategory }}</b></li>
                <li class="list-group-item">Эксплуатант/владелец: <b>{{ aircraft.getOperator }}</b></li>
                <li class="list-group-item">Собственник: <b>{{ aircraft.getOwner }}</b></li>
                <!--<h3>{{ aircraft.getExtensionReason }}</h3>

                <h3>{{ aircraft.getLastArz }}</h3>
                <h3>{{ aircraft.getArzAppointment }}</h3>-->
                <li class="list-group-item">Завод изготовитель: <b>{{ aircraft.getFactoryMadeBy }}</b></li>
                <!--<h3>{{ aircraft.getSpecialMarks }}</h3>-->
            </ul>
        </div>
        <div class="col-lg-5 col-md-12">
            <button class="col-12 mt-2 btn
            btn-outline-primary
             mb-2" id="EngBtn" onclick="displayEng()">Двигатели
            </button>

            <span class="col-12" id="Eng" style="display: none;">
            <ul class="list-group col-12 fs-5">
                {% for part in parts %}
                {% if part.getType == 'engine' %}
                <li class="list-group-item">
                    {%  if part.status == 'danger' %}
                        <script>
                            var EngBtn = document.getElementById("EngBtn");
                            EngBtn.classList.remove('btn-outline-primary');
                            EngBtn.classList.add('btn-outline-danger')
                        </script>
                        <p title="Есть проблема со сроками или ресурсами" class="d-inline text-danger">
                            !
                        </p>
                    {% endif%}
                        {{ part.getName }} | {{ part.getFactoryNum }}

                    <a class="float-end" href="/aircrafts/parts/{{ part.getId }}">
                        <img style="height: 20px; " src="{{ asset('build/images/open.png') }}">
                    </a>
                </li>
                {% endif %}
                {% endfor %}

            </ul>
                {% if eng_count < eng_limit and (role == 'admin'or role=='superadmin') %}
            <center>
                <button onclick="window.location='/aircrafts/add_eng/{{ aircraft.getId }}'" class="col-10 mt-2 btn btn-success mb-2 d-block">+</button>
            </center>
                {% endif %}
                {% if (eng_limit - eng_count) != 0%}
                <center>
                    <p class="text-secondary d-inline">Добавьте еще</p> {{ eng_limit - eng_count}} <p class="text-secondary d-inline">
                    {% if (eng_limit - eng_count) == 1%}двигатель{% endif%}
                        {% if (eng_limit - eng_count) < 5 and (eng_limit - eng_count) > 1%}двигателя{% endif%}
                        {% if (eng_limit - eng_count) > 5 %}двигателей{% endif%}</p>
                </center>
                {% endif %}
        </span>

            <button class="col-12 btn btn-outline-primary mt-2 mb-2" id="PartsBtn" onclick="displayParts()">
                Комплектующие
            </button>
            <span class="col-12 mb-2" id="Parts" style="display:none;">

            <ul class="list-group col-12 fs-5">
                {% for part in parts %}
            {% if part.getType == null %}
                <li  class="list-group-item">
                    {%  if part.status == 'danger' %}
                        <script>
                            var PartsBtn = document.getElementById("PartsBtn");
                            PartsBtn.classList.remove('btn-outline-primary');
                            PartsBtn.classList.add('btn-outline-danger')
                        </script>
                        <p title="Есть проблема со сроками или ресурсами" class="d-inline text-danger">
                            !
                        </p>
                    {% endif%}
                    {{ part.getName }} | {{ part.getFactoryNum }}

                    <a class="float-end" href="/aircrafts/parts/{{ part.getId }}">
                        <img style="height: 20px; " src="{{ asset('build/images/open.png') }}">
                    </a>
                </li>
            {% endif %}
            {% endfor%}
            </ul>
                {% if role == 'admin' or role=='superadmin' %}
            <center>
                <button onclick="window.location='/aircrafts/add_part/{{ aircraft.getId }}'"  class="col-10 mt-2 btn btn-success mb-2">+</button>
            </center>
                {% endif %}
        </span>
            <center>
                <p class="mb-0 mt-3">QR код воздушного судна</p>
                <img src="{{ qr_code_data_uri(app.request.uri) }}" class="img-fluid qrcode" />
            </center>

        </div>
    </div>
    {% if role=='admin' or role=='superadmin'%}
        <div class="row">
            <a class="col-12 btn btn-danger mb-2" href="/aircrafts/delete/{{ aircraft.getId }}"
               onclick="return confirm('Вы уверены, что хотите удалить {{ aircraft.getBoardNum }}?')">Удалить</a>
        </div>
    {% endif %}
    <div class="row">
        <button class="btn col-12 btn-success mb-2 d-block" id="downloadBtn" onclick="displayDownload()">
            Скачать отчет
        </button>
    </div>
    <span id="download" style="display: none">
        <div class="row justify-content-center">
            <center>
                <div class="col-6">
                    <button class="btn btn-primary mb-2"
                            onclick="window.location='/aircrafts/download/{{ aircraft.getId }}/test'">
                        Скачать
                    </button>
                </div>
            </center>
        </div>
    </span>
    <div class="row">
        <button class="btn col-12 btn-secondary mb-2 d-block" id="AddHistoryBtn" onclick="displayHistory()">Показать
            историю добавления наработки
        </button>
    </div>
    <span id="AddHistory" style="display: none">
    <ul class="list-group">
    {% for ao in aircraftOperating|reverse %}
        <li class="list-group-item">{{ ao.addedBy }} | Дата добавления: {{ ao.getCreateDate|date('d.m.y') }} |
            Наработка: {{ ao.getTotalRes }}
        </li>
    {% endfor %}
    </ul>
    </span>
    </div>

    <script type="text/javascript">
        let first_error = document.getElementsByClassName('list-group-item-danger');
        if (first_error != null && window.screen.width >= 1200)
        {
            first_error[0].scrollIntoView();
        }
        function displaySpan() {
            var addRes = document.getElementById("addRes");
            var addResBtn = document.getElementById("addResBtn");
            var form = document.getElementById("form");
            if (addRes.style.display === "none") {
                addRes.style.display = "block";
                addResBtn.innerHTML = "Закрыть";
                addRep.style.display = "none";
                addLg.style.display = "none";
                addMt.style.display = "none";
                addRepBtn.innerHTML = "Добавить ремонт";
                addMtBtn.innerHTML = "Обновить периодическое ТО";
                addLgBtn.innerHTML = "Изменить сертификат ЛГ";
                form.style.display = "block";

            } else {
                addRes.style.display = "none";
                addResBtn.innerHTML = "Добавить наработку";
                form.style.display = "none";

            }
        }

        function displayRep() {
            var addRep = document.getElementById("addRep");
            var addRepBtn = document.getElementById("addRepBtn");
            var form = document.getElementById("form1");
            if (addRep.style.display === "none") {
                addRep.style.display = "block";
                addRes.style.display = "none";
                addLg.style.display = "none";
                addMt.style.display = "none";
                addResBtn.innerHTML = "Добавить наработку";
                addMtBtn.innerHTML = "Обновить периодическое ТО";
                addLgBtn.innerHTML = "Изменить сертификат ЛГ";
                addRepBtn.innerHTML = "Закрыть";
                form1.style.display = "block";

            } else {
                addRep.style.display = "none";
                addRepBtn.innerHTML = "Добавить ремонт";
                form.style.display = "none";

            }
        }
        function displayLg() {
            var addLg = document.getElementById("addLg");
            var addLgBtn = document.getElementById("addLgBtn");
            var form = document.getElementById("form2");
            if (addLg.style.display === "none") {
                addLg.style.display = "block";
                addRes.style.display = "none";
                addRep.style.display = "none";
                addMt.style.display = "none";
                addResBtn.innerHTML = "Добавить наработку";
                addRepBtn.innerHTML = "Добавить ремонт";
                addMtBtn.innerHTML = "Обновить периодическое ТО";
                addLgBtn.innerHTML = "Закрыть";
                form.style.display = "block";

            } else {
                addLg.style.display = "none";
                addLgBtn.innerHTML = "Изменить сертификат ЛГ";
                form.style.display = "none";

            }
        }

        function displayMt() {
            var addMt = document.getElementById("addMt");
            var addMtBtn = document.getElementById("addMtBtn");
            var form = document.getElementById("form3");
            if (addMt.style.display === "none") {
                addMt.style.display = "block";
                addRes.style.display = "none";
                addRep.style.display = "none";
                addLg.style.display = "none";
                addResBtn.innerHTML = "Добавить наработку";
                addRepBtn.innerHTML = "Добавить ремонт";
                addLgBtn.innerHTML = "Изменить сертификат ЛГ";
                addMtBtn.innerHTML = "Закрыть";
                form.style.display = "block";

            } else {
                addMt.style.display = "none";
                addMtBtn.innerHTML = "Обновить периодическое ТО";
                form.style.display = "none";

            }
        }

        function displayDownload() {
            var download = document.getElementById("download");
            var downloadBtn = document.getElementById("downloadBtn");

            if (download.style.display === "none") {
                download.style.display = "block";
                downloadBtn.innerHTML = "Закрыть";

            } else {
                download.style.display = "none";
                downloadBtn.innerHTML = "Скачать отчет";
            }
        }

        function displayHistory() {
            var AddHistory = document.getElementById("AddHistory");
            var AddHistorysBtn = document.getElementById("AddHistoryBtn");

            if (AddHistory.style.display === "none") {
                AddHistory.style.display = "block";
                AddHistorysBtn.innerHTML = "Закрыть историю добавления наработки";

            } else {
                AddHistory.style.display = "none";
                AddHistorysBtn.innerHTML = "Показать историю добавления наработки";
            }
        }

        function displayEng() {
            var Eng = document.getElementById("Eng");
            var EngBtn = document.getElementById("EngBtn");

            if (Eng.style.display === "none") {
                Eng.style.display = "block";
                EngBtn.innerHTML = "Закрыть";

            } else {
                Eng.style.display = "none";
                EngBtn.innerHTML = "Двигатели";
            }
        }

        function displayParts() {
            var Parts = document.getElementById("Parts");
            var PartsBtn = document.getElementById("PartsBtn");

            if (Parts.style.display === "none") {
                Parts.style.display = "block";
                PartsBtn.innerHTML = "Закрыть";

            } else {
                Parts.style.display = "none";
                PartsBtn.innerHTML = "Комплектующие";
            }
        }

    </script>
{% endblock %}




