{% extends 'base_employees.html.twig' %}

{% block title %}Для сотрудика{% endblock %}

{% block body %}
    <div class="topnav">
        <a class="active d-none d-md-inline" href="/employees">Домашняя страница</a>
        <a class="active d-inline d-md-none" href="/employees"><img  height="25px" class="d-inline"  src="{{ asset('build/images/home-black.png') }}"></a>
        <a class="d-none d-md-inline" href="/aircrafts">Список ВС</a>
        <a class="airplane d-inline d-md-none" href="/aircrafts">
            <img class="airplane2" height="25px" src="{{ asset('build/images/airplane-black.png') }}">
            <img class="airplane1" height="25px" src="{{ asset('build/images/airplane.png') }}">
        </a>
        {% if role == 'admin' %}
            <a class="d-none d-md-inline" href="/content" >Страницы</a>
            <a class="content d-inline d-md-none" href="/content" >
                <img class="content2" height="25px" src="{{ asset('build/images/pages-black.png') }}">
                <img class="content1" height="25px" src="{{ asset('build/images/pages.png') }}">
            </a>
        {% endif %}
        <a class="float-end" href="/exit">Выйти</a>
    </div>

    <div class="container mt-5">
        <h2 class="text-center">Авторизованы как {{ FIO }}</h2>
        <h5 class="text-center text-secondary">Ваша роль: {{ role|trans }}</h5>

    </div>
{% endblock %}

