{% extends 'base_employees.html.twig' %}

{% block title %}Для сотрудика{% endblock %}

{% block body %}
    <div class="topnav">
        <a class="active d-none d-md-inline" href="/employees">Домашняя страница</a>
        <a class="active d-inline d-md-none" href="/employees"><img  height="25px" class="d-inline"  src="{{ asset('build/images/home-black.png') }}"></a>
        <a class="d-none d-md-inline" href="/aircrafts">Список ВС</a>
        <a class="airplane d-inline d-md-none" href="/aircrafts">
            <img class="airplane2" height="25px" src="{{ asset('build/images/airplane-black.png') }}">
            <img class="airplane1" height="25px" src="{{ asset('build/images/airplane.png') }}">
        </a>
        {% if role == 'admin' %}
            {% if login == 'angen' or login == 'kuzmin'  %}
            <a class="d-none d-md-inline" href="/content" >Страницы</a>
            <a class="content d-inline d-md-none" href="/content" >
                <img class="content2" height="25px" src="{{ asset('build/images/pages-black.png') }}">
                <img class="content1" height="25px" src="{{ asset('build/images/pages.png') }}">
            </a>
                {% endif %}
            <a class="d-none d-md-inline" href="/users" >Пользователи</a>
            <a class="users d-inline d-md-none" href="/users" >
                <img class="users2" height="25px" src="{{ asset('build/images/users-black.png') }}">
                <img class="users1" height="25px" src="{{ asset('build/images/users.png') }}">
            </a>
        {% endif %}
        <a class="float-end" href="/exit">Выйти</a>
    </div>

    <div class="container mt-5 pt-5">
        <h2 class="text-center">Авторизованы как {{ FIO }}</h2>
        <h5 class="text-center text-secondary">Ваша роль: {{ role|trans }}</h5>
        <div class="row mt-5">
            <div class="col-lg-8 col-12">
                <p class="fs-5">Добро пожаловать в систему управления состояниями, ресурсами и комплектующими воздушных судов авиакомпании
                "Агат!"</p>
            </div>
            <div class="col-lg-4 col-12 p-3 border border-2 border-primary rounded-2">
                <center>
                    <p class="fs-5">Дополнительные функции</p>
                    <ul class="list-group">
                        {% if role == 'admin' %}
                        <li onclick="window.location='/add_ac_type'"
                                class="list-group-item list-group-item-action border border-success mb-2 rounded-2">
                            Добавить тип воздушного судна
                        </li>
                            <li onclick="window.location='/instruction/admin'" class="list-group-item list-group-item-action border border-warning mb-2 rounded-2">
                                Руководство для администраторов
                            </li>
                        {% endif %}
                        <li onclick="window.location='/instruction/user'" class="list-group-item list-group-item-action border border-warning mb-2 rounded-2">
                            Руководство пользователя
                        </li>
                        <li class="list-group-item list-group-item-action border border-danger mb-2 rounded-2"
                        onclick="window.location='/'">
                            Вернуться на главную страницу
                        </li>
                        {% if mail == null %}
                        <li class="list-group-item list-group-item border border-success mb-2 rounded-2">
                            Подписаться на рассылку
                            <form>
                                <input autocomplete="off" type="email" name="mail" class="mt-2 form-control" placeholder="Введите почту">
                                <p class="fs-6 text-secondary">Уведомления приходят каждый день в 11:00</p>
                                <div><input type="checkbox" class="form-check-input" name="test" id="checkBox" checked >
                                <label class="form-check-label" for="checkBox">
                                    Отправить тестовое письмо
                                </label>
                                </div>
                                <input type="submit" class="btn btn-success mt-2" value="Подписаться">
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </center>
            </div>
        </div>
    </div>
{% endblock %}

