{% extends 'base_employees.html.twig' %}

{% block title %}Для сотрудика{% endblock %}

{% block body %}
    <div class="topnav">
        <a class="active d-none d-md-inline" href="/employees">Домашняя страница</a>
        <a class="active d-inline d-md-none" href="/employees"><img  height="25px" class="d-inline"  src="{{ asset('build/images/home-black.png') }}"></a>
        <a class="d-none d-md-inline" href="/aircrafts">Список ВС</a>
        <a class="airplane d-inline d-md-none" href="/aircrafts">
            <img class="airplane2" height="25px" src="{{ asset('build/images/airplane-black.png') }}">
            <img class="airplane1" height="25px" src="{{ asset('build/images/airplane.png') }}">
        </a>
        {% if role == 'admin' or role == 'superadmin' %}
            {% if role == 'superadmin'  %}
            <a class="d-none d-md-inline" href="/content" >Страницы</a>
            <a class="content d-inline d-md-none" href="/content" >
                <img class="content2" height="25px" src="{{ asset('build/images/pages-black.png') }}">
                <img class="content1" height="25px" src="{{ asset('build/images/pages.png') }}">
            </a>
                {% endif %}
            <a class="d-none d-md-inline" href="/users" >Пользователи</a>
            <a class="users d-inline d-md-none" href="/users" >
                <img class="users2" height="25px" src="{{ asset('build/images/users-black.png') }}">
                <img class="users1" height="25px" src="{{ asset('build/images/users.png') }}">
            </a>
        {% endif %}
        <a class="float-end" href="/exit">Выйти</a>
    </div>
    {% set top = 0 %}
    {% for message in app.flashes('success') %}
        {% set top = top + 4 %}
        <div class="col-4 successes alert alert-success" style="top: {{ top }}em">
                {{ message }}
        </div>
    {% endfor %}



    <div class="container mt-5 pt-5">
        <h2 class="text-center">Авторизованы как {{ FIO }}</h2>
        <h5 class="text-center text-secondary">Ваша роль: {{ role|trans }}</h5>
        <div class="row mt-5">
            <div class="col-lg-8 col-12">
                <p class="fs-5">Добро пожаловать в систему управления состояниями, ресурсами и комплектующими воздушных судов авиакомпании
                "Агат!"</p>
                <ul class="list-group mb-2" title="Перейти к судну">
                    {% if fav != null %}
                        <h4>Избранные ВС
                            <i class="text-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star" viewBox="0 0 17 20">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </i>
                            </h4>
                    {% endif %}
                    {% for f in fav %}
                    <li onclick="window.location='aircrafts/{{ f.idAircraft.getId }}'" class="d-block d-lg-inline text-center text-lg-start list-group-item list-group-item-warning list-group-item-action">
                        <b class="pe-2">{{ f.idAircraft.getAcType }}</b>
                        <b class="border-start border-2 border-warning ps-2 pe-2">{{ f.idAircraft.getBoardNum }}</b>
                        <b class="border-start border-2 border-warning ps-2 pe-2">{{ f.idAircraft.getFactoryNum }}</b>
                        {% if f.idAircraft.status == 'danger' %}
                        <p class=" float-lg-end text-white bg-danger mb-0 pe-2 ps-2 rounded text-center">Проблемы</p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="col-lg-4 col-12 p-3 border border-2 border-primary rounded-2">
                <center>
                    <p class="fs-5">Дополнительные функции</p>
                    <ul class="list-group">
                        {% if role == 'admin' or role == 'superadmin' %}
                        <li onclick="window.location='/add_ac_type'"
                                class="list-group-item list-group-item-action border border-success mb-2 rounded-2">
                            Добавить тип воздушного судна
                        </li>
                            {% if role == 'superadmin' %}
                            <li onclick="window.location='/subscriptions'"
                                class="list-group-item list-group-item-action border border-success mb-2 rounded-2">
                                Управление почтовыми рассылками
                            </li>
                                {% endif %}
                            <li onclick="window.location='/instruction/admin'" class="list-group-item list-group-item-action border border-warning mb-2 rounded-2">
                                Руководство для администраторов
                            </li>
                        {% endif %}
                        <li onclick="window.location='/instruction/user'" class="list-group-item list-group-item-action border border-warning mb-2 rounded-2">
                            Руководство пользователя
                        </li>
                        <li class="list-group-item list-group-item-action border border-danger mb-2 rounded-2"
                        onclick="window.location='/'">
                            Вернуться на главную страницу
                        </li>
                        {% if mail == null %}
                        <li class="list-group-item list-group-item border border-success mb-2 rounded-2">
                            Подписаться на рассылку<br>
                            <p class="text-danger">{{ error }}</p>
                            <form>
                                <input autocomplete="off" type="email" name="mail" class="mt-2 form-control" placeholder="Введите почту">
                                <p class="fs-6 text-secondary">Уведомления приходят каждый день в 11:00</p>
                                <div><input type="checkbox" class="form-check-input" name="test" id="checkBox" checked >
                                <label class="form-check-label" for="checkBox">
                                    Отправить тестовое письмо
                                </label>
                                </div>
                                <input type="submit" class="btn btn-success mt-2" value="Подписаться">
                            </form>
                        </li>

                        {% endif %}

                        {% if mail != null %}
                            <li onclick="window.location='/subscription/delete'" class="list-group-item list-group-item-action border border-warning mb-2 rounded-2">
                                Отвязать почту
                            </li>
                        {% endif %}
                    </ul>
                </center>
            </div>
        </div>
    </div>
{% endblock %}

